*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html{
    scroll-behavior: smooth;
}
body{     
    background-color: #f5f5f5;  
}

a{
    @include reset-list();
}
a, a:hover{
    text-decoration: none;
}
ul{
    @include reset-list();
}

h1{
   color: $secondary-color;
   text-align: center;
   margin-bottom: 2rem;
   font-weight: $font-bold;
   text-transform: uppercase;
   @include respond-below(sm){
    font-size: 3rem;
   }
   @include respond-above(sm){
    font-size: 3.5rem;
   
   }
}

button{
    margin: 0;
    padding: 15px;
}
i{
    
    display: block;
    font-size: 20px;
    @include respond-above(lg){
        font-size: 25px
    }
}