h2{
    font-family: $primary-font;
    color: $primary-color;
    @include respond-below(sm){       
        font-weight: 600;
        font-size: 3rem;       
        text-align: center;
    }
    @include respond-above(sm){
        font-size: 4.5rem;
        font-weight: 600;
    }
}

h5{
    color: $secondary-color;
    font-family: $primary-font;
    font-size: 2rem;
    font-weight: 500;
    @include respond-below(sm){          
        margin-bottom: 0.5rem;              
    }

}

p{
    @include respond-below(sm){
        font-size: 1.25rem;
        font-weight: 300;
    }

}